
.xq-box{ width: 690upx; margin: 0 30upx 30upx; background: #FFFFFF; border-radius: 16upx;box-shadow:0px 4upx 25upx 0px rgba(0,0,0,.1);}
.xq-nav01{ display: flex; padding: 30upx 40upx;}
.xq-a01{ flex: 1; margin-right: 20upx;}
.xq-jine{ border-bottom: 1upx solid #F0F3F5; /* width: 250upx; */ padding-bottom: 20upx;}
.xq-t01{ font-size: 24upx; color: #757678;}
.xq-money{ font-size: 56upx; color: #2D2A27; padding-top: 30upx; font-weight: bold;font-family:PingFang-SC-Bold;}
.time-limit{ padding-top: 30upx; color: #B8B8B8;}
.xq-yue{ padding: 20upx 0 10upx;}
.yueshu{ text-align: center; font-size: 56upx;color: #2D2A27; font-weight: bold;font-family:PingFang-SC-Bold; border-bottom: 1upx solid #F0F3F5; padding-bottom: 20upx; padding-right: 20upx; width: 124upx; float: left;}
.xq-t02{font-size:22upx;font-family:PingFang-SC-Medium;font-weight:500;color:rgba(117,118,120,1); margin-top: 30upx; margin-bottom: 20upx;}
.xq-nav02{ display: flex; background: #F8F8F8; padding: 30upx 40upx;}
.loan-beizhu{ flex: 1; text-align: center;}
.bz-t01{font-size:24upx;font-family:PingFang-SC-Regular;font-weight:400;color:rgba(117,118,120,1);}
.bz-t02{font-size:30upx;font-family:PingFang-SC-Regular;font-weight:400;color:#2D2A27;font-weight:bold;}
.gx-t{ height: 60upx; width: 2upx; background: #D8DBE6; display: inline-block;}
.xq-tishi{font-size:22upx;font-family:PingFang-SC-Medium;font-weight:500;color:rgba(219,219,219,1); text-align: center;}
.sq-yaoqiu{ width: 690upx; margin: 68upx 30upx 0;}
.sq-xiang{ padding-bottom: 50upx;}
.yaoqiu-title{font-size:32upx;font-weight:bold;color:#2D2A27; padding-bottom: 26upx;}
.yaoqiu-list{font-size:28upx;color:#949494 !important; line-height: 44upx;}
.blue-dian{width:10upx;height:10upx;background:rgba(48,158,255,1);border-radius:50%; float: left; margin: 16upx 20upx 0 0;}
.applyuser-info{ width: 690upx; border-top: 30upx solid #F2F5FA; padding: 30upx 30upx 150upx; position: relative;} 
.icon-v{ width: 690upx; text-align: center; position: absolute; top: -54upx; left: 30upx;}
.icon-fang{ width: 51upx; height: 51upx;}
.info-title{ font-size:34upx;font-family:PingFang-SC-Bold;font-weight:bold;color:rgba(0,0,0,1);}
.info-con{ padding: 0 30upx;}
.info-con-title{ font-size: 26upx; color: #000000; padding: 48upx 0 20upx; font-weight: bold;font-family:PingFang-SC-Bold;}
.info-i{font-size:30upx;font-family:PingFang-SC-Medium;font-weight:500; border-bottom: 1upx solid #DADDE2; padding-bottom: 14upx; display: flex;}
.info-ipt01{ flex: 1; color: #9a99a3; }
.info-code{width:156upx;height:50upx; line-height: 50upx; border:1upx solid rgba(28,119,255,1);border-radius:25upx; color: rgba(28,119,255,1); font-size: 24upx; text-align: center;}
.zhuce{width:750upx;height:112upx;background:rgba(255,255,255,1);border-top:1upx solid rgba(234,241,248,1);box-shadow:0px 5upx 17upx 1upx rgba(232,239,246,1); position: fixed; left: 0; bottom: 0;}
.zhuce-btn{width:690upx;height:86upx;background:rgba(31,142,255,1);box-shadow:0px 6upx 14upx 0px rgba(132,192,252,1);border-radius:43upx; margin: 8upx 30upx 0; color: #FFFFFF;font-size:36upx;
font-family:PingFang-SC-Medium;font-weight:500;}
.applyuser-info >>> .uni-input-placeholder{ color: #d6d6e0;}
.code{ color: #3A89FF; border:1px solid #3A89FF; border-radius: 32upx; font-size: 24upx; padding: 0 16upx; height: 48upx; line-height: 48upx;}
.jtxia{ width: 42upx; height: 26upx; float: left;}
.jtxia .jtimg { width: 22upx; height: 13upx;}